body {
	margin: 0px;
	padding: 0px;
	background-color: white;
}

.top-bar {
	background-color: white;
	width: 100%;
	position: fixed;
	height 110px;
	top: 0;
}

.weekdays {
	display: flex;
	justify-content: center;
	font-size: 25px;
}

.weekday {
	display: flex;
	justify-content: center;
	margin: 10px;
	border-style: solid;
	border-color: black;
	padding: 15px;
	max-width: 900px;
	text-decoration: none;
}

.selected {
	display: flex;
	/*position: relative;*/
	background-color: aqua;
	justify-content: center;
	width: 70%;
	height: 5px;
	margin-top: -5px;
	margin-left: 10px;
}

.week-changer {
	display: flex;
	justify-content: space-between;
}

.week-changer div{;
	display: flex;
}

.week-changer div > span{
	margin: 0 0.5rem;
}

.arrow-left {
	display: flex;

}

.arrow-right {
	display: flex;
}

#table {
	margin-top: 110px;
	margin-bottom: 60px;
}

.lesson {
	background-color: hsl(102, 53%, 52%);
	border: 2px solid black;
	padding: 10px;
	margin: auto;
	margin-bottom: 10px;
	font-style: normal;
	text-align: left;
	color: white;
	max-width: 500px;
}

.lesson.free {
	background-color: hsla(102, 53%, 80%);
}

.lesson .top{
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
	font-weight: bold;

}

.lesson .lessonName {
	font-weight: bold
}

.lesson > span {
	align-items: center;
	font-size: larger;
}

.day .dateName {
	margin-bottom: 2rem;
	padding-top: 110px;
	font-size: 1.5rem;
}

.day > div:nth-child(6) {
	margin-top: 100px;
}

h2 {
	display: flex;
	justify-content: center;
}

.weekdays {
	display: flex;
	justify-content: space-between;
}

.bottom_options {
	position: fixed;
	bottom: 0;
	display: flex;
	height: 50px;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	background-color: rgb(61, 90, 133);
	font-family: 'Inter', sans-serif;
	color: white;
}
