div {
    background-color: #6CC644;
    width: 300px;
    border: 2px solid black;
    padding: 10px;
    margin: left;
    font-style: normal;
    text-align: left;
    display: flex;
    color: white;
}
.time {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -2px;
    align-items: center;
    font-size: larger;
}

/*.k206 {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -35px;
    font-size: larger;
}*/

.maths {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -2px;
    align-items: center;
    font-size: larger;

}

.space {
    display: flex;
    justify-content: space-between;
}
